<div class="jumbotron">
    <div><h1>ASP.NET & <img src="~/images/neo4j.jpg" /></h1></div>
    <p class="lead">Neo4J API call test harness. <a href="http://neo4j-gmc.eastus.cloudapp.azure.com:7474/browser/" target="_blank">Connect to Neo4J Server</a></p>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Search by Id</div>
                            <div class="panel-body">
                                <input type="text" id="empId" size="5" />
                                <input type="button" value="Search" onclick="find();" />
                                <p id="employee" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <div class="panel-heading">Add New Employee</div>
                            <div class="panel-body">
                                <div>
                                    <label>Employee #: </label>
                                    <input type="text" id="newEmpId" size="5" />
                                </div>
                                <div>
                                    <label>Employee Name: </label>
                                    <input type="text" id="name" size="50" />
                                </div>
                                <input type="button" value="Add Employee" onclick="addEmployee();" />
                                <p id="newEmployee" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">All Employees</div>
                        <div class="panel-body">
                            <ul id="employees" />
                        </div>
                    </div>
                </div>

                <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
                <script>
                var uri = '/api/employees';

                $(document).ready(function () {
                    // Send an AJAX request
                    $.getJSON(uri)
                        .done(function (data) {
                            // On success, 'data' contains a list of employees
                            $.each(data, function (key, item) {
                                //Add a list item for the employee
                                $('<li>', { text: formatItem(item) }).appendTo($('#employees'));
                            });
                        });
                });

                function refreshEmployees() {
                    $.getJSON(uri)
                        .done(function (data) {
                            // On success, 'data' contains a list of employees
                            $.each(data, function (key, item) {
                                //Add a list item for the employee
                                $('<li>', { text: formatItem(item) }).appendTo($('#employees'));
                            });
                        });
                }

                function formatItem(item) {
                    return item.Name + ', ' + item.Emp_Id;           // format if needed
                }

                function find() {
                    var id = $('#empId').val();

                    $.getJSON(uri + '/' + id)
                        .done(function (data) {
                            $('#employee').text(formatItem(data));
                        })
                        .fail(function (jqXHR, textStatus, err) {
                            $('#employee').text('Error: ' + err);
                        });
                }

                function addEmployee() {
                    var id = $('#newEmpId').val();
                    var name = $('#name').val();

                    $.ajax({
                        url: uri + '/AddEmployee?id=' + id + '&name=' + name,
                        type: "Post",
                        data: JSON.stringify([id, name]),
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            $('#newEmployee').text(data);
                            location.reload();
                        },
                        error: function () { alert('error'); }
                    });
                }
                </script>
            </div>
        </div>


    </div>
</div>
